.form4{
    width: 300px;
    height: 400px;
    border: 7px solid rgb(255, 102, 65);
    box-shadow: 10px 10px blue;
    margin: 25px;
    padding: 25px;
}

select {
    width: 300px;
    height: 30px;
    border-radius: 7px;
}





}

